*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

body{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation: Border 2s ease;
    border: solid 2rem white;    */
}
@keyframes Border{
    0%{
        border: none;
    }
    100%{
        border: solid 2rem white;
    }
}

.heading{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 20rem;
    font-family: 'Darker Grotesque';
}

.navBar{
    position: sticky;
    z-index: 2;
    top:1rem;
    background-color: rgb(223, 132, 57);
    backdrop-filter: blur(4px);
    width: 50%;
    padding: .6rem;
    border-radius: 3rem;
    margin-top: 15rem;
    animation: FadeIn 1s;
}
.navBar li{
    color: aliceblue;
    list-style-type: none;
    font-family: 'Darker Grotesque';
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
}
.navBar ul{
    display: flex;
    justify-content: space-around;
}
.navBar a{
    text-decoration: none;
}


.hero{
    display: flex;
    justify-content: center;
}
@keyframes FadeIn{
    0%{ opacity: 0;
        filter: blur(3px);    
    }
    100%{opacity: 1;
        filter: blur(0px);
    }
}
.hmain-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: FadeIn 1s ease;
    scroll-margin-top: 20rem;
}
.hmain-div-img{
    width: 20%;
    z-index: 20;
    
}
.hmain-div h1{
    margin: 0;
}
h3{
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    color: rgb(223, 132, 57);
    font-family: 'Darker Grotesque';
    justify-content: center;
    position: absolute;
    margin: 0 0 5.5rem 2rem;
    animation: Flicker 3s ;
    animation-iteration-count: infinite;
}
@keyframes Flicker{
    0%{
        color: rgb(223, 132, 57);
    }
    50%{
        color: transparent;
    }
    100%{
        color: rgb(223, 132, 57);
    }
}
#explore{
    font-size: 1.4rem;
    font-family: 'Inter';
    background-color: aliceblue;
    border-radius: 4rem;
    padding: 0 1.2rem .3rem 1.2rem;
    cursor: pointer;
    animation: gradient ease 2s;
    animation-iteration-count: infinite;
}
@keyframes gradient {
    0%{
        background-color: rgb(255, 227, 174);
    }
    50%{
        background-color: rgb(255, 255, 255);
    }
    100%{
        background-color: rgb(255, 226, 172);
    }
    
}
.amain-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: FadeIn 1s ease;
    height: 100vh;
    scroll-margin-top: -2rem;
}
.amain-div h1{
    margin: 5rem 0 0 0;
}
.about-div{
    display: flex;
}
.about-sub-l{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-sub img{
    width: 90%;
}
.about-sub{
    height: 20rem;
}


p{
    color: aliceblue;
    font-family: 'Inter';
    padding: 0 5rem;
    font-size: 1.5rem;
    text-align: justify;
}

.cmain-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    animation: FadeIn 1s ease;
    height: 100vh;

}
.cmain-sub{
    display: flex;
}

#scroll-button{
    position: fixed;
    bottom:1.5rem;
    right:1.5rem;
    background-color: transparent;
    border: none;
}
.scroll-button-section{
    border-radius: 60%;
    background-color: transparent;
    margin-top: 2rem;
}
.scroll-button-section img{
    transform: rotate(180deg);
}



.pmain-div h1{
    margin-bottom: 2rem;
}
.pmain-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.psub-div{
    width: 60%;
    padding: 1rem;
    border: solid rgba(255, 255, 255, 0.281);
}
.psub-div img{
    width: 100%;
    overflow: hidden;
}
.span-react{
    color: rgb(146, 180, 255);
}
.span-tail{
    color: rgb(176, 250, 250);
}
.heading span{
    animation: Stretch 2s ease;
    transform: scaleY(100%);
    }

@keyframes Stretch{
    0%{
        transform: scaleY(30%);
    }
    100%{
        transform: scaleY(100%);
    }       
}

.send-button{
    padding: .2rem 1rem .2rem 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    border: solid orange .16rem;
}
.cv-button{
    padding: .5rem 1rem .5rem 1rem;
    font-family: 'Inter';
    border-radius: 1rem;
    background-color:  orange;
    font-size: 1rem;
    margin-bottom: .3rem;
}

.reveal{
    transform: translateY(2rem);
    opacity: 0;
    transition: all 3s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.card-div{
    margin-top: 0rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.card{
    height: 35rem;
    position: relative;
    background-color: aliceblue;
    width: 25rem;
    border-radius: 2rem;
    cursor: pointer;
    background-image: url("res/casev.png");
    overflow: hidden;
}
.card:hover{
    filter: blur(.2rem);
    transition: 1s ease-in;
    transform: translateY(-1rem);
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.9rem;
}
.card h1{
    font-family: 'Darker Grotesque';
}
.card p{
    display: flex;
    justify-content: center;
}
.card-subdiv{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

@media (max-width: 1000px){
    body{
        width: 100vw;   
        /* animation: none;
        border: none; */
    }
    .hmain-div{
        height: 80vh;
        justify-content: center;
    }
    .card-div{
        display: none;
    }
    .amain-div .heading{
        font-size: 11rem;
    }
    .amain-div{
        width: 100%;
        height: 100vh;
    }
    .about-sub-l{
        width: 100%;
    }


    .pmain-div .heading{
    font-size: 16rem;
    }


    .cmain-div .heading{
        font-size: 17rem;
    }
    .cmain-div form{
        display: flex;
        flex-direction: column;
    }

    #scroll-button{
        left:0;
        right:0;
        width: 100vw;
    }


}